<div  class="sticky-top">
  <!-- nav menu -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav-menu">
    <div class="container my-nav-menu">
      <a class="navbar-brand" href="#">
        <img src="./../../assets/img/gozem-logo.png" class="logo" alt="cfacash_logo" loading="lazy" />
      </a>
      
      <button
      class="navbar-toggler"
      type="button"
      (click)="inlineNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

      <div class="collapse navbar-collapse" id="navbarButtonsExample"
      mdbCollapse
      #inlineNav="mdbCollapse">
        
        <div class="ms-auto">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link btn btn-outline-success btn-rounded px-2 me-2 nav-menu" >
               
                  <span style="margin-bottom: 0px;color: black; border-right: 0.8px solid black;padding-right: 10px;">Zone géographique de la carte</span>
                  <span style="margin-bottom: 0px;color: black; border-right: 0.8px solid black;padding-right: 10px; padding-left: 10px;">14 juin-8 juil.</span>
                  <span style="margin-bottom: 0px;color: black; padding-right: 10px; padding-left: 10px;">3 voyageurs</span>
                  <span>
                    <button type="button" class="btn btn-success btn-sm btn-floating" >
                      <i class="fas fa-search" style=" font-size: 10px;"></i>
                    </button>
                  </span>
              
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link btn btn-link px-2 me-2 nav-menu" onclick="replaceToArea('contact')" id="5" type="button">
                  CONTACTS
              </a>
            </li>
            <li class="nav-item">
              <!-- <button type="button" class="btn btn-outline-secondary">
                Secondary
              </button> -->
              <a class="nav-link btn btn-outline-success btn-rounded btn-sm mt-1 btn-connexion">
                <i class="fas fa-bars" style="padding-right: 15px; "></i> 
                <i class="fas fa-user-circle" style="font-size: 20px !important;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </nav>

</div>